@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Inter:wght@400;700&family=Lusitana:wght@400;700&family=Montserrat:wght@400;700&display=swap');
;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root {
  --bg-color-100: #c8d3e6;
  --bg-color-200: #a5b3d6;
  --bg-color-400: #4c60af;
  --bg-color-500: #38458e;
  --bg-color-600: #2e4e7d;
  --bg-color-700: #1b375e;
}

